%nav
  -@section_links.each do |link|
    %a{:href => "##{link["link"]}"}= link["text"]
    - if link != @section_links.last
      &middot;

-@config["code_hosts"].each do |host|
  - sections = host["sections"]
  -case host["host"]
    - when "github"
      - sections.each do |section|
        %section{:class=>"projects", :id=>"#{host["host"]}_#{section["type"]}"}
          %h2= section["text"]
          -@repos.contributor.sort_by{ |x| x["created_at"]}.reverse.each do |repo|
            =haml :_repo, :locals => { :repo => repo }
    - when "scraperwiki"
      - sections.each do |section|
        %section{:class=>"projects", :id=>"#{host["host"]}_#{section["type"]}"}
          %h2= section["text"]
          -@scrapers.contributor.each do |repo|
            =haml :_repo, :locals => { :repo => repo }